<h1>Image Searcher</h1>

<h2>Image Results for: <%= @text %></h2>

<section>
  <% @images.each do |image| %>
    <div class="image">
      <%= image_tag image.url %>
    </div>
  <% end %>
</section>
