<h1 id="app-name">Image Searcher</h1>

<section id="search-text">
  <h2>Search by Text</h2>

</section>

<section id="search-characteristics">
  <h2>Search by Characteristics</h2>

</section>

<section id="search-image">
  <h2>Search by Similar Image</h2>

</section>
